<div class="login-form">
	<h2 class="text-center">Forgot Password</h2>
    <form name="form" role="form">
		<div class="avatar">
			<img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" class="img-circle" alt="Avatar">
		</div>           
        <div class="form-group">
            <input type="email" name="email" class="form-control input-lg" ng-model="email" placeholder="Enter your username" required />
        </div>       
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Reset Password</button>
        </div>
		<p class="hint-text">Remembered Your Password? <a routerLink="/login">Login here</a></p>
    </form>
</div>
